*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: white;
    padding: 20px 20px 10px 20px;
    text-align: center;
    height: 5%;
}

body, html{
    height: 100%;
}
body {
    min-height: 100%;
    background-color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}

.navbar{
    background-color: #333;
    color: white;
    overflow: hidden;
    padding-bottom: 0.4%;
    width: 99.2%;
    padding-left: 0.4%;
    padding-right: 0.4%;
    display: flex;
    justify-content: center;

}
.navbar a{
    float: left;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    text-decoration: none;
    border: 2px solid #777;
    width: 19.79%;
}
.navbar a:hover{
    background-color: #444;
    color: white;
}
.active{
    background-color: #444;
}
.left{
    width: 20%;
    margin-left: 7%;
    background-color: #333;
    border-bottom-left-radius: 15px;
    flex: 2;
    box-shadow: 0 4px 5px rgba(0,0,0,1);
    padding: 0.4%;
}
.left ul{
    margin-left: 7%;
    padding: 2%;
    color: white;
    list-style-type: none;
}
.left li{
    margin-bottom: 10px;
}
.main{
    background-color: white;
    width: 80%;
    flex: 5;
    margin-right: 10%;
    padding: 1.5%;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
    height: auto;
}
.main ul, li{
    margin-left: 1%;
}

.main u {
    line-height: 1.7;
}

.container{
    display: flex;
}
footer{
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3%;
    margin-top: 15px;
}
.mainBild{
    width: 85%;
    padding: 2.5% 7.5%;
    height: 300px;
}

.kompetenser{
    margin-bottom: 10px;
}

.kompetenser ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.kompetenser li{
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 10px 8px 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    justify-content: left;
    width: 100%;
    text-align: center;
}
.wrapper li {
    margin: 1% 4.5%;
}

.wrapper img {
    display: inline-block;
}

.pImg {
    width: 200px;
    height: 300px;
}

.button {
    display: inline-block;
    padding: 1%;
    background-color: #dedede;
    color: black;
    text-decoration: none;
    margin: 0 8px;
    border-radius: 3px;
    border: 1px solid black;
}

.popup {
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.popup-inner {
    background-color: white;
    padding: 1%;
    max-width: 700px;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.popup:target {
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 1200px) {
    .left {
        min-width: 33%;
    }
}

@media screen and (max-width: 850px) {
    .navbar a {
        float: none;
        justify-content: left;
        text-align: center; 
        width: 250px; 
        padding: 10px 2px;
    }
    .container{
        flex-direction: column;
    }
    .left{
        width: 80%;
        margin-left: 10%;
    }
    .main{
        width: 77.7%;
        margin-left: 10%;
    }
    .main ul, li{
        padding-left: 10px;
    }
    .wrapper h4 {
        margin-left: 4%;
    }
    
    
}